@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  color: black;
  box-sizing: border-box;
}

.container {
  padding: 0px 10%;
  margin: 0 auto;
}

// .ad {
//   position: fixed;
//   width: 500px;
//   top: 50%;
//   transform: translateY(-50%);
//   left: 1%;
// }

.propagation {
  h1 {
    text-transform: uppercase;
    font-size: 6vw;
    margin-bottom: 40px;
    // height: 100vh;
    background-color: black;
    color: white;
    padding: 150px 10%;
  }

  .reflection {
    .texts {
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 50px;
      max-width: 700px;

      h2 {
        color: white;
        background: black;
        padding: 5px 20px;
        display: inline;
        margin-top: 20px;
      }
      p {
        margin-bottom: 20px;
        margin-top: 20px;
      }
    }

    img {
      margin: 0 auto;
      display: block;
      width: 100%;
      max-width: 700px;
      margin-top: 50px;
    }
  }
}
